/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
    font-size: 1em;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241F;
    -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function .hljs-preprocessor,
.hljs-pragma {
    color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
    color: #ae81ff;
}

.hljs-modpe-static,
.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
    color: #a6e22e;
}

.hljs-link_url {
    font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
    font-weight: bold;
}

.hljs-modpe,
.hljs-modpe-static,
.hljs-emphasis,
.hljs-params,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
    font-style: italic;
}

.hljs-starters,
.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
    color: #f92672;
}

.hljs-built_in,
.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.hljs-modpe,
.css .hljs-attribute {
    color: #66d9ef;
}

.hljs-variable,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
    color: #f8f8f2;
}

.hljs-params {
    color: #F58800;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
    color: #e6db74;
}

.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
    color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
    opacity: 0.5;
}

.hljs-jsdoc-brackets,
.hljs-jsdoc-param-default-brackets,
.hljs-jsdoc-param-default-equal,
.hljs-jsdoc-comment {
    color: #75715e;
    font-style: italic;
}

.hljs-jsdoc-angle-brackets,
.hljs-jsdoc-example-code {
    color: #F1F2E9;
}

.hljs-jsdoc-caption {
    color: #C9314D;
}

.hljs-jsdoc-tag {
    color: #857AFA;
}

.hljs-jsdoc-example {
    color: #7CFACE;
}

.hljs-jsdoc-todo {
    color: #E3DD88;
    font-weight: bold;
}

.hljs-jsdoc-deprecated {
    color: #F92D34;
}

.hljs-jsdoc-param {
    color: #B156AA;
}

.hljs-jsdoc-example-caption,
.hljs-jsdoc-type-name,
.hljs-jsdoc-typedef-name,
.hljs-jsdoc-param-type,
.hljs-jsdoc-return-type,
.hljs-jsdoc-namespace-type,
.hljs-jsdoc-prop-type {
    color: #7EC875;
}

.hljs-jsdoc-param-default-name,
.hljs-jsdoc-param-name {
    color: #DC7A00;
}

.hljs-jsdoc-param-default-value {
    color: #AF8F7E;
}

.hljs-jsdoc-return {
    color: #2BB1AD;
}

.hljs-jsdoc-type {
    color: #BBAC27;
}

.hljs-jsdoc-typedef {
    color: #B99CDA;
}

.hljs-jsdoc-prop {
    color: #DF3E74;
}

.hljs-jsdoc-prop-name {
    color: #CFA995;
}

.hljs-jsdoc-namespace {
    color: #C84C8A;
    font-weight: bold;
}

.hljs-jsdoc-namespace-name {
    color: #C84C8A;
    font-weight: normal;
}

.hljs-jsdoc-inline {
    color: #75715e;
}

.hljs-jsdoc-inline-tag,
.hljs-jsdoc-inline-bar {
    color: #CFD749;
}

.hljs-jsdoc-inline-link {
    color: #B76B6C;
}

.hljs-jsdoc-inline-link-text {
    color: #3F69FF;
}
