<?js
var data = obj;
var self = this;
var typeSignature = '';

if (data.type && data.type.names) {
    data.type.names.forEach(function (name) {
        typeSignature += '<span class="type-signature type ' + name.toLowerCase() + '">' + self.linkto(name, self.htmlsafe(name)) + '</span> ';
    });
}
?>
<dt>
    <div class="nameContainer">
        <h4 class="name" id="<?js= id ?>"><?js= data.attribs + (data.scope === 'static' ? longname : name)  + typeSignature ?></h4>
    </div>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd class="folded">
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js
    var detailsContents = this.partial('details.tmpl', data);
    var hasExamples = data.examples && examples.length;

    // Use regex to make sure there are actually contensts inside of "<dl ...>   </dl>"
    // NOTE: cannot have any '?' followed by '>', otherwise we will exit js parsing :)
    var re = /<dl.*?[>][\s\S]*?(\S)[\s\S]*?<\/dl>/;
    if (re.test(detailsContents) || hasExamples) {
    ?>
    <div class="expandable folded">
        <?js= detailsContents ?>

        <?js if (hasExamples) { ?>
            <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
            <?js= this.partial('examples.tmpl', examples) ?>
        <?js } ?>
    </div>

    <div class="expandable-toggle">
        <i class="fa"></i>
    </div>
    <?js } ?>
</dd>
